.catalogue
  h2
    white-space               nowrap
    padding                   0.4em
    color                     #fff

  .releases
    width                     450px
    overflow                  hidden
    margin                    0px

    h3
      color                   #fff
      padding                 1em

    .release
      margin                  0px
      width                   200px
      height                  200px
      overflow                hidden
      display                 inline-block

      img
        width                 200px
        cursor                move
