.catalogue
  h2
    white-space               nowrap
    padding                   0.4em
    color                     #fff

    .add
      margin-left             8em
      font-size               0.5em
      line-height             2.5em
      font-weight             normal

  .releases
    width                     450px
    overflow                  hidden
    margin                    0px

    h3
      color                   #fff
      padding                 1em

    .release
      margin                  0px
      width                   200px
      height                  200px
      overflow                hidden
      display                 inline-block

      img
        width                 200px
        cursor                move

    ul.files
      height                  80vh
      overflow-y              scroll
