.container
  .chat
    background-color          #16a085

    h2
      .options
        position              absolute
        font-size             0.4em
        opacity               0
        margin-left           -3em
        top                   1.8em
        text-transform        none
        transition            all 0.1s linear

        a
          text-decoration     none
          margin-left         0.7em

    h2:hover > .options
      opacity                 1
      margin-left             0.3em

    section
      position                relative
      height                  100vh
      overflow                hidden
      padding                 1em 1.5em 1em 1.5em

      .chatcontainer
        display               -webkit-flex
        position              absolute
        height                auto
        bottom                5em
        top                   4em
        padding               1em 30px 1em 0
        width                 100%

        &:hover > .userlist
          opacity                 1

        .messages
          min-width           500px
          overflow            hidden
          height              auto
          flex                1 1 auto

        .userlist
          float               right
          opacity             0
          margin-right        5em
          overflow            scroll
          height              auto
          //min-width           200px
          transition          all 0.5s ease-in

          li
            list-style-type   none
            line-height       1.7em

            &.header
              font-weight     bold
              font-size       1.2em

            &:not(.header)
              cursor          pointer

            .count
              font-size       0.6em
