#chatinput
  width                       50em
  display                     flex

  div.bright a
    color                     #fff

  .name
    transition                color 0.4s ease-in
    min-width                 8em
    padding-top               0.8em

  input[type=text]
    flex                      1 1 auto
    max-width                 40em
    background-color          rgba(255, 255, 255, 0.9)
    border                    0px solid
    padding                   0.8em
    outline                   none

  input[type=submit]
    display                   none
