drophint()
  position                    absolute
  top                         50%
  right                       50%
  margin-top                  -1.1em
  font-size                   1.2em
  background-color            #222
  color                       #fff
  padding                     0.5em

#app.dropzone
  .chatcontainer, #chatinput
    outline                   3px dashed
    outline-offset            8px

    > div, input
      -webkit-filter                    blur(2px)

  .chatcontainer:after
    content                   "Drop here to throw music into the room"
    drophint()
    margin-right              -10em

  #chatinput:after
    content                   "Drop here to attach the music to a message"
    drophint()
    margin-right              -11em
