#app.dropzone
  .chatcontainer, #chatinput
    outline                   3px dashed
    outline-offset            8px

  .chatcontainer:after
    position                absolute
    content                 "Drop here to throw music into the room"
    top                     50%
    right                   50%
    margin-right            -11em
    margin-top              -1em
    font-size               1.1em
    background-color        #111
    color                   #fff
    padding                 0.5em

  #chatinput:after
    position                absolute
    content                 "Drop here to attach the music to a message"
    top                     50%
    right                   50%
    margin-right            -11em
    margin-top              -1em
    font-size               1.1em
    background-color        #111
    color                   #fff
    padding                 0.5em
