.container
  .intro
    background-color          #2980b9
    -webkit-box-ordinal-group 2
    -webkit-order             2
    -webkit-box-flex          1
    box-flex                  1
    -webkit-flex              1 1 auto
    flex                      1 1 auto
    overflow-y                auto
    overflow-x                hidden
    min-height                100%

    h3
      padding                 3em 0 3em 3em
      font-size               36px
      font-weight             normal

    h3, p
      color                   #fff

    .listenmusic
      text-align              right

    .joinchat:before
      content                 "------------------------------------------------------"
      margin                  0 10px 0 -2px
      letter-spacing          -4px
      padding-right           8px

    .listenmusic:after
      content                 "---------------------------------------------------------------"
      margin                  0 -7px 0 12px
      letter-spacing          -4px
      padding-right           8px

    div
      display                 block
      text-align              center
      margin                  20px 0 30px 0

      p
        margin                2em 0 0 -65px

      img
        height                206px
