* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
}
p,
li,
h1,
h2,
h3,
h4,
h5 {
  text-rendering: optimizelegibility;
}
h2 {
  font-size: 2.5em;
  text-transform: capitalize;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  overflow: hidden;
  height: 100%;
}
input {
  font-family: 'Karla', sans-serif;
  font-size: 1em;
}
#content {
  height: 100%;
}
.container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  width: 100%;
  height: 100%;
}
.container .intro {
  background-color: #16a085;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 2;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100%;
}
.container .intro h3 {
  padding: 3em 0 3em 3em;
  font-size: 36px;
  font-weight: normal;
}
.container .intro h3,
.container .intro p {
  color: #fff;
}
.container .intro .listenmusic {
  text-align: right;
}
.container .intro .joinchat:before {
  content: "------------------------------------------------------";
  margin: 0 10px 0 -2px;
  letter-spacing: -4px;
  padding-right: 8px;
}
.container .intro .listenmusic:after {
  content: "---------------------------------------------------------------";
  margin: 0 -7px 0 12px;
  letter-spacing: -4px;
  padding-right: 8px;
}
.container .intro div {
  display: block;
  text-align: center;
  margin: 20px 0 30px 0;
}
.container .intro div p {
  margin: 2em 0 0 -65px;
}
.container .intro div img {
  height: 206px;
}
.container .sidebar {
  order: 1;
  min-width: 13em;
  max-width: 13em;
/*width                     12px*/
  padding-top: 1.2em;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 0px;
}
.container .sidebar li {
  list-style-type: none;
  padding-left: 22px;
  line-height: 1.5em;
  font-size: 1em;
  white-space: nowrap;
}
.container .sidebar li span.count {
  opacity: 0;
  float: right;
  background-color: #f0f0f0;
  padding: 0px 4px 0px 4px;
  border-radius: 28px text-transform capitalize;
  font-size: 0.5em;
  margin: 4px 22px 0;
  line-height: 1.8em;
}
.container .sidebar li:not(.header) {
  cursor: pointer;
}
.container .sidebar li:hover {
  font-weight: bold;
}
.container .sidebar li.active,
.container .sidebar li.newmessage {
  font-weight: bold;
}
.container .sidebar li.header {
  font-weight: bold;
  border-left: 0px none;
  padding-left: 22px;
  padding-bottom: 1em;
}
.container .sidebar .joinchatmenu {
  margin-bottom: 1.2em;
}
.container .sidebar .joinchatmenu li {
  border-left: 12px solid;
  padding-left: 9px;
}
.container .sidebar .joinchatmenu li.bright.active a {
  color: #fff;
}
.container .sidebar .joinchatmenu li:not(.active) {
  background-color: #fff !important;
}
.container .sidebar .popularchatmenu li:hover {
  background-color: #f0f0f0;
}
.container .sidebar .addchannel span {
  display: inline;
}
.container .sidebar .addchannel input {
  text-transform: capitalize;
  border: 0;
  display: none;
  outline: none;
  background: none;
}
.container .sidebar .addchannel form:before {
  content: "+";
  margin: 0 3px 0 -20px;
  padding-right: 8px;
  font-weight: bold;
}
.container .sidebar .addchannel form:hover > input {
  display: inline;
}
.container .sidebar .addchannel form:hover > span {
  display: none;
}
.container .sidebar .addchannel:hover {
  background: none;
}
.container .sidebar:hover span.count {
  opacity: 1;
}
.container .chat {
  background-color: #16a085;
  order: 2;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100%;
}
.container .chat h2 span {
  position: absolute;
  font-size: 0.5em;
  opacity: 0;
  margin-left: -3em;
  top: 1.4em;
}
.container .chat h2 span a {
  text-decoration: none;
  margin-left: 15px;
}
.container .chat h2:hover > span {
  opacity: 1;
  margin-left: 0.4em;
}
.container .chat section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding: 1em 1.5em 1em 1.5em;
}
.container .chat section .chatcontainer {
  position: absolute;
  height: auto;
  bottom: 5em;
  top: 4em;
  padding: 0 30px 0 0;
  overflow: scroll;
  width: 100%;
}
.container .chatinput form {
  display: -webkit-flex;
  position: fixed;
  bottom: 2em;
  left: 14.5em;
  right: 5em;
}
.container .chatinput form div.bright {
  color: #fff;
}
.container .chatinput form .name {
  min-width: 8em;
  padding-top: 0.8em;
}
.container .chatinput form input[type=text] {
  flex: 1 1 auto;
  max-width: 40em;
  background: #fff;
  border: 0px solid;
  padding: 0.8em;
  outline: none;
}
.container .chatinput form input[type=submit] {
  display: none;
}
.container .catalogue {
  min-width: 30px;
  max-width: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  order: 3;
}
.container .catalogue h2 {
  white-space: nowrap;
  padding: 0.4em;
  color: #fff;
}
.container .catalogue .releases {
  width: 450px;
  overflow: hidden;
  margin: 0px;
}
.container .catalogue .releases p {
  color: #fff;
  padding: 1em;
}
.container .catalogue .releases .release {
  margin: -4px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
}
.container .catalogue .releases .release img {
  width: 200px;
}
.container .catalogue:hover {
  min-width: 470px;
  max-width: 470px;
}
.container .catalogue:hover h2 {
  color: #222;
}
.container .catalogue:hover .release {
  margin: 0 0 1.3em 1.3em;
}
.container .catalogue:hover ~ .chat .sidebar {
  background-color: #000;
  min-width: 1em !important;
  max-width: 1em !important;
}
.container .catalogue:hover ~ .chatinput form {
  left: 35px;
  right: 500px;
}
.container .catalogue:hover ~ .sidebar {
  min-width: 12px;
  max-width: 12px;
}
.container .catalogue:hover ~ .musicplayer {
  right: 500px;
}
.container .sidebar:hover {
  min-width: 14em;
  max-width: 14em;
}
.container .sidebar:hover ~ .chatinput form {
  left: 15.5em;
}
.container .catalogue,
.container .sidebar,
.container .chatinput form,
.container .release,
.container h2,
.container span,
.container .musicplayer {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.container .chat .tip {
  display: inline-block;
}
.container .chat .tip /* This is any element that has a tooltip attached too it */ {
  position: relative !important;
  display: inline-block;
}
.container .chat .tip > .tooltip /* Used to hide the tooltip */ {
  display: none;
}
.container .chat .tip:hover > .tooltip /* This shows the tooltip once an element with the .tip class is hovered over */ {
  display: block;
}
.container .chat .tooltip /* The styling on the tooltip */ {
  background: none repeat scroll 0 0 #fff;
  color: #000;
  left: 0px;
  margin-top: 10px;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 200px;
  z-index: 10;
}
.container .chat .tooltip:before /* Creates the arrow for the tooltip */ {
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 10px;
  height: 0px;
  width: 0px;
  position: absolute;
  top: -20px;
  left: 10px;
  display: block;
  content: "\00a0";
}
.container .chat .users {
  width: auto;
  max-height: 70vh;
}
.container .chat .users ul {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 10px 40px 0px 10px;
}
.container .chat .users a {
  color: #222;
  margin: 0;
}
.container .chat .users a li {
  list-style-type: none;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  font-size: 0.8em;
}
.chat .message {
  font-size: 1em;
  display: flex;
  display: -webkit-flex;
  padding: 1em 0 1em 0;
}
.chat .message .sender {
  min-width: 8em;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2em 0.5em 0.2em 0;
}
.chat .message .content {
  border-left: 3px solid #fff;
  padding: 0.2em 0.5em 0.2em 0.5em;
  max-width: 40em;
}
.chat .action .content {
  border-left: 3px solid #f00;
}
.chat .self .content {
  border: 1px solid #222;
}
.chat .bright * {
  color: #fff;
}
.chat .bright .self .content {
  border: 1px solid #fff;
}
.roll-link {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
.roll-link:hover {
  text-decoration: none;
}
.roll-link span {
  display: block;
  position: relative;
  padding: 0 2px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.roll-link:hover span {
  background: #e93a30;
  -webkit-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  -moz-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  -ms-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  transform: translate3d(0px, 0px, -30px) rotateX(90deg);
}
.roll-link span::after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 2px;
  color: #fff;
  background: #e93a30;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -moz-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -ms-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
}
.musicplayer {
  position: absolute;
  top: 0;
  right: 4em;
  background-color: #fff;
  padding: 8px 11px 8px 11px;
}
