.chat
  .message
    font-size                 1em
    display                   flex
    display                   -webkit-flex
    padding                   1em 0 1em 0
    .sender
      width                   8em
      white-space             nowrap
      overflow                hidden
      text-overflow           ellipsis
      padding                 0.2em 0.5em 0.2em 0

    .content
      border-left             3px solid #fff
      padding                 0.2em 0.5em 0.2em 0.5em
      max-width               40em

  .action
    .content
      border-left             3px solid #ff0000

  .self
    .content
      border                  1px solid #222

  .bright *
    color                     #fff

  .bright .self .content
    border                    1px solid #fff
