.modal
  .inner
    position                    absolute
    left                        50%
    padding                     50px
    min-width                   400px
    min-height                  300px
    top                         50%
    background-color            #fff
    color                       #333
    z-index                     100

  .mask
    position                  fixed
    top                       0px
    left                      0px
    height                    100%
    width                     100%
    z-index                   10
    background-color          rgba(0,0,0,0.5)
