.musicplayer
  position                    absolute
  height                      30px
  top                         0
  right                       4em
  line-height                 1em

  > div
    display                   inline-block
    padding                   8px 11px 8px 11px
    background-color          #fff

  &:hover .hide
    opacity                 1
    background-color        #fff
    display                 inline-block

  .hide
    background-color          transparent
    transition                all 0.5s ease-out
    opacity                   0

  .text
    line-height                 1em
    font-size                 0.6em

  .playbtn
    font-weight               bold
    text-align                right
