.musicplayer
  position                    absolute
  top                         0
  right                       4em
  background-color            #fff
  padding                     8px 11px 8px 11px
