.container
  .sidebar
    padding-bottom: 4em

    li
      list-style-type         none
      padding-left            22px
      line-height             1.5em
      font-size               1em
      white-space             nowrap
      //transition              all 0.2s ease-in

      span.count
        opacity               0
        float                 right
        background-color      rgb(240, 240, 240)
        padding               0px 4px 0px 4px
        border-radius         28px     
        font-size             0.5em
        margin                4px 22px 0
        line-height           1.8em
        transition            opacity 0.6s ease-in

    &:hover span.count
      opacity                 1

    li:not(.header)
      cursor                  pointer
      text-transform          lowercase

    li:hover
      font-weight             bold

    li.active, li.newmessage
      font-weight             bold

    li.header
      font-weight             bold
      border-left             0px none
      padding-left            22px
      padding-bottom          1em

      a // only used in the case of the create new room '+' button
        float                 right
        font-weight           normal
        opacity               1
        margin-right          30px
        text-rendering        optimizelegibility

    .joinchatmenu
      margin-bottom           1.2em

      li
        border-left           12px solid
        padding-left          9px


      li.bright.active a
        color                 #fff

      li:not(.active)
        background-color      #fff !important

    .popularchatmenu li:hover
      background-color        #f0f0f0
