@import 'nib'

chanwidth = 17vw
chanwidthhover = 18vw
catx = 97vw

//z-index order
chanz = 10px
chatz = 100px
inputz = 1000px
catz = 10000px

*
  box-sizing                  border-box
  margin                      0
  padding                     0
  color                       #333

h1,h2,h3,h4,h5
  text-rendering              optimizelegibility

h1
  padding                     2em

h2
  font-size                   2.5em
  text-transform              capitalize

a
  cursor                      pointer

html, body
  margin                      0
  padding                     0
  font-family                 'Karla', sans-serif
  overflow                    hidden
  height                      100%

input
  font-family                 'Karla', sans-serif
  font-size                   1em

#content
  height                      100%

*[contenteditable=true]
  outline               none

.container
  width                       100vw
  height                      100vh

  > *
    white-space nowrap
    position absolute
    transform-origin 0% 0%
    transition all .2s ease-in-out

  .sidebar
    top 0
    left 0
    height 100vh
    width                     chanwidth
    transform                 translate3d(0,0,chanz)
    padding-top               1.2em
    overflow-x                hidden
    overflow-y                scroll

    &:hover
      width                   chanwidthhover

    &:hover ~ .chat
      transform               translate3d(chanwidthhover,0,chatz)

    &:hover ~ #chatinput
      transform               translate3d(20vw,-3vh,inputz)

  .chat
    top 0
    left 0
    height 100vh
    width                     81.1vw
    transform                 translate3d(chanwidth,0,chatz)
    overflow-y                auto
    overflow-x                hidden

  #chatinput
    bottom                    0
    transform                 translate3d(19vw,-3vh,inputz)
    z-index                   1000

  .musicplayer
    top 0
    left 0
    transform                 translate3d(88vw,0,catz)

  .catalogue
    top 0
    left 0
    height 100vh
    width                     36vw
    transform                 translate3d(98vw,0,catz)
    overflow-y                scroll
    overflow-x                hidden
    z-index                   10000
    background-color          #fff

    .releases
      transform               translate3d(-1.9vw,0,0)

    &:hover
      width                   36vw
      transform               translate3d(64vw,0,catz)

      .releases
        transform               translate3d(0,0,0)

      h2
        color                 #333

      h3
        color                 #333

    &:hover ~ .chat
      transform               translate3d(1vw,0,chatz)

    &:hover ~ #chatinput
      transform               translate3d(3vw,-3vh,inputz)

    &:hover ~ .sidebar
      min-width               12px

    &:hover ~ .musicplayer
      transform               translate3d(54vw,0,catz)


    // should find a way to make more dry

    &.show
      h2
        color                 #222

      .release
        margin                0 0 1.3em 1.3em

    &.show ~ #chatinput
      transform               translate3d(88vw,0,catz)

    &.show ~ .sidebar
      transform               translate3d(2vw,0,chatz)

    &.show ~ .musicplayer
      transform               translate3d(80vw,0,catz)


  // animate the hovers

  .catalogue, .sidebar, .release
    transition                all 0.3s ease-in-out

  .releases, .musicplayer, #chatinput, h2, h3
    transition                all 0.25s ease-in-out
