//@import 'nib'

*
  box-sizing                  border-box
  margin                      0
  padding                     0
  color                       #333

h1,h2,h3,h4,h5
  text-rendering              optimizelegibility

h2
  font-size                   2.5em
  text-transform              capitalize

html, body
  margin                      0
  padding                     0
  font-family                 'Karla', sans-serif
  overflow                    hidden
  height                      100%

input
  font-family                 'Karla', sans-serif
  font-size                   1em

#content
  height                      100%

.container
  display                     -webkit-flex
  -webkit-flex-direction      row
  width                       100%
  height                      100%

  .sidebar
    order                     1
    min-width                 13em
    max-width                 13em
    /*width                     12px*/
    padding-top               1.2em
    overflow-x                hidden
    overflow-y                scroll
    min-height                0px

  .chat
    order                     2
    flex                      1 1 auto
    overflow-y                auto
    overflow-x                hidden
    min-height                100%

  .catalogue
    min-width                 30px
    max-width                 30px
    overflow-y                scroll
    overflow-x                hidden
    order                     3

  // This is where the magic hovering happens

  .catalogue:hover
    min-width                 470px
    max-width                 470px

    h2
      color                   #222

    .release
      margin                  0 0 1.3em 1.3em


  .catalogue:hover ~ .chat .sidebar
    background-color          black
    min-width                 1em !important
    max-width                 1em !important

  .catalogue:hover ~ .chatinput form
    left                      35px
    right                     500px

  .catalogue:hover ~ .sidebar
    min-width                 12px
    max-width                 12px

  .catalogue:hover ~ .musicplayer
    right                     500px

  .sidebar:hover
    min-width                 14em
    max-width                 14em

  .sidebar:hover ~ .chatinput form
    left                      15.5em

  // animate the hovers

  .catalogue, .sidebar, .chatinput form, .release, h2, .musicplayer
    transition                all 0.3s ease-in-out
